<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SIK Test Center</title>
<link href="{{ 'css/style.css'|staticfile }}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,500,600,700,800,900' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ 'css/font-awesome.css'|staticfile }}">
<!--scripts-->
<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>

</head>
<body>
	<div class="main">
		<div class="mail-section">
			<div class="close"> </div>
				<div class="mail-image">
					<img src="{{ 'img/sik_logo.png'|staticfile }}" alt="" />
						<div class="windows8">
							<div class="wBall" id="wBall_1">
								<div class="wInnerBall"></div>
							</div>
							<div class="wBall" id="wBall_2">
								<div class="wInnerBall"></div>
							</div>
							<div class="wBall" id="wBall_3">
								<div class="wInnerBall"></div>
							</div>
							<div class="wBall" id="wBall_4">
								<div class="wInnerBall"></div>
							</div>
							<div class="wBall" id="wBall_5">
								<div class="wInnerBall"></div>
							</div>
						</div>
						<div class="gstd">
							<a href="SikTest.get_started" data-bind="true" class="button" style="vertical-align:middle">Get Started</a>
						</div>
				</div>
					<div class="mail-form">
						<img src="{{ 'img/brain_me.png'|staticfile }}" alt="" >
					</div>
			<div class="clear"> </div>
		</div>
	</div>
		<div class="footer">
			<p>&copy 2017 SIK Test Center . All rights reserved | Design by Rikozone Technologies</p>
		</div>


<script type="text/javascript">

	$('.button').hide()

	setTimeout(function() {
		    $('.button').fadeIn('fast');
		    $('.windows8').fadeOut('slow');
		}, 5000);
</script>

</body>
</html>
