<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SIK Test Center</title>
<link href="{{ 'css/style.css'|staticfile }}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,500,600,700,800,900' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ 'css/font-awesome.css'|staticfile }}">
<!--web-fonts-->
<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>

</head>
<body>
	<div class="header">
	<i class="fa fa-exclamation-triangle fa-3x" style="margin-bottom: 5px;"></i>
	<p>Please make sure your device is successfully connected to the Wi-Fi network specified for this test.</p>
	</div>
	<div class="main">
		<div class="mail-section">
			<div class="close"> </div>
				<div class="mail-image">
					<img src="{{ 'img/sik_logo.png'|staticfile }}" alt="" />
					<a href="SikTest.about" data-bind="true" class="about-p">About</a>
				</div>
					<div class="mail-form">

					<form action="SikTest.sik_login_form" id="login-form" data-bind="true">
						<input type="text" id="form_input" name="user_id" placeholder="User ID..." required=""/>
						<input type="password" class="pass" name="password" id="form_input" placeholder="Password" required=""/>
						<input type="submit" value="login" id="form_submit">
					</form>

				</div>
			<div class="clear"> </div>
		</div>
	</div>
		<div class="footer">
			<p>&copy 2017 SIK Test Center . All rights reserved | Design by Rikozone Technologies</p>
		</div>

</body>
</html>

