<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SIK Test Center</title>
<link href="{{ 'css/style.css'|staticfile }}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ 'css/font-awesome.css'|staticfile }}">
<link href="{{ 'css/bootstrap.min.css'|staticfile }}" rel='stylesheet' type='text/css' />
<!--web-fonts-->
<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>

</head>
<body>
	<div class="header">
	<i class="fa fa-exclamation-triangle fa-3x" style="margin-bottom: 5px;"></i>
	<p>Please make sure you remain connected to the Wi-Fi network specified for this test.</p>
	</div>
	<div class="main">
		<div class="mail-section" style="width: 950px;">
			<div class="close"> </div>
				<div class="mail-image">
					<img src="{{ 'img/sik_logo.png'|staticfile }}" alt="" />
						<h3>Read Instructions</h3>
						
				</div>
				<div class="mail-form" style="width: 67%;">
					<div class="col-md-6">
						<ul class="stud-inf" style="text-align: left;">
							<li><label>Student ID:</label> {{ stud_id }}</li>
							<li><label>Level:</label> {{ lvl }}</li>
							<li><label>Course Code:</label> {{ cour_code }}</li>
							<li><label>Time Allowed (minutes):</label></li>
							<p style="font-size: 85px;">{{ time_allwd }}</p>
						</ul>
					</div>
					<div class="col-md-6">
						<img src="{{ dp|staticfile }}" alt="" />
						<h3 class="name-verif">EREZI, R. S.</h3>
					</div>

					<a href="SikTest.strt_tst" data-bind="true" class="about-p">Start Test!</a>	
				</div>
			<div class="clear"> </div>
		</div>
	</div>
		<div class="footer">
			<p>&copy 2017 SIK Test Center . All rights reserved | Design by Rikozone Technologies</p>
		</div>

</body>
</html>
