<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SIK Test Center</title>
<link href="{{ 'css/style.css'|staticfile }}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ 'css/font-awesome.css'|staticfile }}">
<link href="{{ 'css/bootstrap.min.css'|staticfile }}" rel='stylesheet' type='text/css' />
<!--web-fonts-->
<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>
<script src="{{ 'js/jquery.popupoverlay.js'|staticfile }}"></script>
<style type="text/css">
	.well {
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        display:none;
        margin:1em;
    }
    .well ul {
	  list-style: none;
	  padding: 0;
	}
	.well li {
	  padding-left: 1.3em;
	}
	.well li:before {
	  content: "\f00c"; /* FontAwesome Unicode */
	  font-family: FontAwesome;
	  margin-left: -1.3em; /* same as padding-left set on li */
	  width: 1.3em; /* same as padding-left set on li */
	}
</style>
</head>
<body>
<!--
	<div class="header">
	<i class="fa fa-exclamation-triangle fa-3x" style="margin-bottom: 5px;"></i>
	<p>Please make sure you remain connected to the Wi-Fi network specified for this test.</p>
	</div>
-->
	<div class="main">
		<div class="mail-section" style="width: 950px;">
			<div class="close"> </div>
				<div class="mail-image">
					<img src="{{ 'img/sik_logo.png'|staticfile }}" alt="" width="200px" />
					<div style="height: 50px">
						
					</div>
					<button class="my_popup_open btn btn-primary">Read Usage Instructions</button>	
				</div>
				<div class="mail-form" style="width: 67%;">
					<div class="col-md-6">
						<ul class="stud-inf" style="text-align: left;">
							<li><label>Student ID:</label> {{ student.mat_number }}</li>
							<li><label>Course Title:</label> {{ test.course_title }}</li>
							<li><label>Course Code:</label> {{ test.course_code }}</li>
							<li><label>Course Lecturer(s):</label> {{ test.course_lecturers }}</li>
							<li><label>Date:</label> {{ test.date }}</li>
							<li><label>Venue:</label> {{ test.venue }}</li>
							<li><label>Time Allowed (minutes):</label></li>
							<p style="font-size: 85px;">{{ test.duration }}</p>
						</ul>
					</div>
					<div class="col-md-6">
						<img src="{{ student.photo }}" alt="" />
						<h4 class="name-verif">{{ student.full_name }}</h4>
					</div>

					<a href="SikTest.start_test" data-bind="true" class="about-pn btn btn-warning">Start Test!</a>	
				</div>
			<div class="clear"> </div>
		</div>
	</div>
		<div class="footer">
			<p>&copy 2017 SIK Test Center . All rights reserved | Design by Rikozone Technologies</p>
		</div>

		<!-- Add an optional button to open the popup -->
  

  <!-- Add content to the popup -->
  <div id="my_popup" class="well">
		<h3>Usage Instructions</h3>
		<ul>
			<li><h5>You can only Login Once, make sure this device doesn't turn off or disconnect from the network</h5></li>
			<li><h5>Do not attempt to manipulate this system as it may risk you rewriting this exam at a later time</h5></li>
			<li><h5>Always save your progress at intervals of about 5-10 mins</h5></li>
			<li><h5>Only click the submission button after attempting all question within your power</h5></li>
			<li><h5>Submission is done automatically once time expires and candidate has not clicked submit</h5></li>
		</ul>
    <!-- Add an optional button to close the popup -->
    <button class="my_popup_close btn btn-error pull-right">Close</button>

  </div>

<script>
    $(document).ready(function() {

      // Initialize the plugin
      $('#my_popup').popup();

    });
</script>

</body>
</html>
