<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SIK Test Center</title>
<link href="{{ 'css/style.css'|staticfile }}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ 'css/font-awesome.css'|staticfile }}">
<link rel="stylesheet" href="{{ 'css/dash.css'|staticfile }}">
<!--web-fonts-->
<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>

</head>
<body>
	
	<div class="main">
			<h2 style="color: #fff; font-size: 35px; text-align: center; margin-top: 60px;">Submitting, Please Wait...</h2>
		
			<div id="loadFacebookG">
				<div id="blockG_1" class="facebook_blockG"></div>
				<div id="blockG_2" class="facebook_blockG"></div>
				<div id="blockG_3" class="facebook_blockG"></div>
			</div>
			
	</div>
		

</body>
</html>
