<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SIK Test Center</title>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ 'css/font-awesome.css'|staticfile }}">
<link rel="stylesheet" href="{{ 'css/dash.css'|staticfile }}">
<link rel="stylesheet" href="{{ 'css/bootstrap.min.css'|staticfile }}">
<!--web-fonts-->
<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>

</head>
<body>
	<div class="sidebar col-md-2">
		<div class="timerr">
			<img src="{{ 'img/sik_logo.png'|staticfile }}" alt="" />
		</div>
		<div class="timerr">
			<h3>Time Left</h3>
			<h1 id="countdown">{{ test.time_left }}</h1>
		</div>
		
		<div class="boton" align="Center">
			<button class="btn" id="submiss">Submit</button>
		</div>
		
		<div class="prof">
			<img src="{{ student.photo }}" alt="" width="100px" />
			<h4 class="name-verif">{{ student.full_name }}</h4>
		</div>

		<div class="boton" align="Center">
			<button class="btn" id="viewpro">View Profile</button>
		</div>

	</div>
	<div class="all-tab col-md-10">
		<div class="tab">
		  {% for question in test.questions %}
			{% if question.number == test.questions[0]['number'] %}
		  <button class="tablinks" onclick="openQuestion(event, 'Qtn{{ question.id }}')" id="defaultOpen">{{ question.number }}</button>
			{% else %}
		  <button class="tablinks" onclick="openQuestion(event, 'Qtn{{ question.id }}')">{{ question.number }}</button>
			{% endif %}
		  {% endfor %}
		</div>

		{% for question in test.questions %}
		<div id="Qtn{{ question.id }}" class="tabcontent">
		  <h3>Question {{ question.number }}</h3><br>
		  <div style="display:inline-block;">
		  {% for image in question.images %}
			 <img src="{{ image.image }}" style="cursor:pointer;" class="img-thumbnail" alt="{{ image.title }}" width="100px"> 
		  {% endfor %}
		  </div>
		  <h4>{{ question.detail }}</h4>
		  {% if question.question_type == 'o' %}
			{% for option in question.options %}
			<input type="radio" name="Opt{{ option.id }}" value="{{ option.id }}"> {{ option.detail }}<br>
			{% endfor %}
		  {% else %}
			<textarea style="width:100%;height:150px;" name="Qtn{{ question.id }}"></textarea>
		  {% endif %}
		  <br><br>
		  {% for file in question.files %}
			 <h3 style="font-weight:bold">{% if file.app.icon %}<img src="{{ file.app.icon }}" width="40px">{% endif %} {{ file.name }}{{ file.app.extension }}
		     <button type="button" class="btn btn-success" onclick="SikTest.sik_edit_file('{{ file.app.command }}', '{{ question.id }}{{ file.name }}{{ file.app.extension }}');">edit</button><span style="color:green" id="file-open"> <i class="fa fa-check"></i></span>
			 </h3>
		  {% endfor %}
		</div>
		{% endfor %}
	</div>
	<div class="boton pull-right">
		<button class="btn" id="save">Save</button>
	</div>

<script src="{{ 'js/countdown.js'|staticfile }}"></script>

<!-- Tabs Select & content -->

<script type="text/javascript">
function openQuestion(evt, qNum) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(qNum).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>




</body>
</html>
