<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>SIK Test Center</title>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ 'css/font-awesome.css'|staticfile }}">
<link rel="stylesheet" href="{{ 'css/dash.css'|staticfile }}">
<link rel="stylesheet" href="{{ 'css/dash-qstn.css'|staticfile }}">
<link rel="stylesheet" href="{{ 'css/bootstrap.min.css'|staticfile }}">
<!--web-fonts-->
<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>
<script src="{{ 'js/jquery.popupoverlay.js'|staticfile }}"></script>

<style type="text/css">
	.well {
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        display:none;
        margin:1em;
    }
    .well ul {
	  list-style: none;
	  padding: 0;
	}
	.well li {
	  padding-left: 1.3em;
	}
	.well li:before {
	  content: "\f00c"; /* FontAwesome Unicode */
	  font-family: FontAwesome;
	  margin-left: -1.3em; /* same as padding-left set on li */
	  width: 1.3em; /* same as padding-left set on li */
	}
</style>

</head>
<body>
	<div class="sidebar col-xs-12 col-sm-2 col-md-2">
		<div class="timerr">
			<img class="img-fluid" src="{{ 'img/sik_logo.png'|staticfile }}" alt="" />
		</div>
		<div class="timerr">
			<h3>Time Left</h3>
			<h1 id="countdown">{{ test.time_left }}</h1>
		</div>
		
		<div class="boton" align="Center">
			<button class="btn btn-danger" id="submiss">Submit</button>
		</div>
		
		<div class="prof">
			<img class="img-circle img-thumbnail img-fluid" src="{{ student.photo }}" alt="" width="150px" />
			<h4 class="name-verif">{{ student.full_name }}</h4>
		</div>

		<div class="boton" align="Center">
			<button class="my_popup_open btn btn-primary" id="viewpro">View Profile</button>
		</div>

	</div>

	
	<div class="all-tab col-xs-12 col-sm-2 col-md-10">
		<div class="tab">
		{% for question in test.questions %}
			{% if question.number == test.questions[0]['number'] %}
		  <button class="tablinks" onclick="openQuestion(event, 'Qtn{{ question.id }}')" id="defaultOpen">{{ question.number }}</button>
		  {% else %}
		  <button class="tablinks" onclick="openQuestion(event, 'Qtn{{ question.id }}')">{{ question.number }}</button>
		   {% endif %}
		{% endfor %}
		</div>

		{% for question in test.questions %}
		<div id="Qtn{{ question.id }}" class="tabcontent">
		  <h3>Question {{ question.number }} - Theory</h3>
		  <div style="display:inline-block;">
		  {% for image in question.images %}
			 <img src="{{ image.image }}" style="cursor:pointer;" class="img-thumbnail" alt="{{ image.title }}" width="100px"> 
		  {% endfor %}
		  </div>
		  <h4>{{ question.detail }}</h4>

	  <form>
			<div class="col-xs-12 col-sm-6 col-md-5">
		  {% if question.question_type == 'o' %}
			{% for option in question.options %}
			<div class="frb frb-success">
				<input type="radio" id="radio-button-{{ option.id }}" name="Opt{{ option.id }}" value="{{ option.id }}">
				<label for="radio-button-{{ option.id }}">
					<span class="frb-title">Option {{ option.id }}</span>
					<span class="frb-description">{{ option.detail }}</span>
				</label>
			</div>
		</div>
		{% endfor %}
		  {% else %}
			<textarea style="width:100%;height:150px;" name="Qtn{{ question.id }}"></textarea>
		  {% endif %}
	</form>
		<br><br>
		{% for file in question.files %}
			 <center><h3 style="font-weight:bold">{% if file.app.icon %}<img src="{{ file.app.icon }}" width="40px">{% endif %} {{ file.name }}{{ file.app.extension }}
		     <button type="button" class="btn btn-info" onclick="SikTest.sik_edit_file('{{ file.app.command }}', '{{ question.id }}{{ file.name }}{{ file.app.extension }}');">edit</button><span style="color:green" id="file-open"> <i class="fa fa-check"></i></span>
			 </h3></center>
		{% endfor %}
		</div>
		{% endfor %}

	<div class="boton pull-right">
		<button class="btn btn-success" id="save">Save</button>
	</div>

	
	<div id="my_popup" class="well">
		<h2>{{ student.full_name }}</h2><br>
		<img src="{{ student.photo }}" alt="Photo ID" style="max-height: 500px;" /><br>
	    <!-- Add an optional button to close the popup -->
	    <button class="my_popup_close btn btn-error pull-right">Close</button>
	 </div>



<script src="{{ 'js/countdown.js'|staticfile }}"></script>

<!-- Tabs Select & content -->

<script type="text/javascript">
function openQuestion(evt, qNum) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(qNum).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

<script>
    $(document).ready(function() {

      // Initialize the plugin
      $('#my_popup').popup();

    });
</script>

<script src="{{ 'js/bootstrap.min.js'|staticfile }}"></script>

</body>
</html>
